name: CI

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: "8.1"
      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          php_extensions: pcov
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: tests/resources/clover.xml
      - name: Check test coverage
        id: test-coverage
        uses: johanvanhelden/gha-clover-test-coverage-check@v1
        with:
          percentage: "100"
          filename: "./tests/resources/clover.xml"
      - name: phpunit-coverage-badge
        uses: timkrase/phpunit-coverage-badge@v1.2.0
        with:
          report: ./tests/resources/clover.xml
          report_type: clover
          coverage_badge_path: ./.github/coverage.svg
          push_badge: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}